.container {
	background-image: url(../public/images/hero/wallpaper.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.mainText {
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 72px;
	/* or 150% */
	color: #ffffff;
	margin: 0;
	margin-bottom: 16px;
}

.subText {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */

	/* Light Grey */

	color: #f1f1f1;
	margin: 0;
}

.buttonContainer {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: center;
	flex-wrap: wrap;
}

.mainButton {
	min-width: 247px;
	height: 60px;

	/* Green */

	background: #65e4a3;
	border: 2px solid #69e6a6;
	border-radius: 56px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 56px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	/* Dark Blue */

	color: #0a2640;
}

.mainButton:hover {
	cursor: pointer;
	background-color: #fff;
}

.subButton {
	width: 187px;
	height: 60px;

	border: 2px solid #ffffff;
	border-radius: 56px;
	padding: 16px 56px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	color: #ffffff;
}

.subButton:hover {
	background-color: #fff;
	color: #0a2640;
}
