.section1 {
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section1 > h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	/* identical to box height, or 160% */

	/* Gray */

	color: #777777;
	margin: 0;
}

.section1 > p {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 72px;
	/* or 150% */

	color: #000000;
	max-width: 842px;
	text-align: center;
	margin-bottom: 78px;
	margin-top: 12px;
}

.cardTitle {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height, or 150% */

	color: #000000;
}

.cardText {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	/* or 160% */

	/* Gray */

	color: #777777;
}

.cardButton {
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	/* identical to box height, or 180% */

	color: #0a2640;
	padding-block: 8px;
	border-bottom: 1px solid #0a2640;
}

.cardButton:hover {
	background-color: #0a2640;
	color: #fff;
	padding-left: 20px;
}

.servicesHeader {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 56px;
	/* or 156% */

	color: #000000;

	max-width: 493px;
}

.servicesButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 56px;

	width: 215px;
	height: 60px;

	/* Dark Blue */

	background: #0a2640;
	/* Dark Blue */

	border: 2px solid #0a2640;
	border-radius: 56px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	color: #ffffff;
	margin-top: 56px;
}

.servicesButton:hover {
	cursor: pointer;
	background-color: #fff;
	color: #0a2640;
}

.listContainer {
	background: #ffffff;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	padding: 22px;
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */

	color: #000000;
}

.listContainer:hover {
	background-color: #0a2640;
}

.listContainer:hover > .listText {
	color: white;
}

.listContainer:hover > .listIcon {
	filter: brightness(0) invert(1) !important;
}

.listIcon {
	display: flex;
	align-items: center;
}
